
.p-card .p-card-content {
    padding: 0 !important;
}

.overflow-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 3.75em;
}

.float-discount {
    background: khaki;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    top: 25%;
    right: 5%;
    border-radius: 0.25rem;
}

.product-name {
    display: -webkit-box;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    min-height: 2.42em;
}

.card-image {
    width: 100%;
    border-radius: 6px;
}

.in-stock {
    color: limegreen;
}

.out-of-stock {
    color: indianred;
}

.price-continer {
    min-height: 3rem;
}

.price {
    color: coral;
}

.price.val {
    font-weight: bold;
    font-size: 1.4rem;
    font-style: italic;
}

.rating {
    color: khaki;
    font-size: 0.85rem;
}